# The syncserver needs a secret to use when signing authentication tokens.
# By default, Ansible will generate a new secret every time the VM is
# provisioned. This causes Sync to display an error message for all users,
# though it will continue to work after dismissing the error.
#
# To avoid this, configure a static secret:
#
# 1. Generate a secret. For example, try running:
#
#         head -c 32 /dev/random | shasum | awk '{{ print $1 }}'
#
# 2. Save a copy of this file as "secret.yml"; edit that copy.
# 3. Uncomment and insert your secret between the quotes in the line below
# 4. Run `vagrant provision` to apply your changes.

# secret: "your secret goes here"
