{
  "publicUrl": "https://{{ server_hostname }}:9011",
  "listen": {
    "host": "0.0.0.0",
    "port": 9000
  },
  "contentServer": {
    "url": "https://{{ server_hostname }}"
  },
  "smtp": {
    "host": "127.0.0.1",
    "port": 9999,
    "secure": false,
    "sender": "no-reply@example.com",
    "resendBlackoutPeriod": 0
  },
  "toobusy": {
    "maxLag": 0
  },
  "log": {
    "level": "info"
  },
  "verifierVersion": 0,
  "bounces": {
    "region": "us-east-1"
  },
  "customsUrl": "none"
}
